<!DOCTYPE html>
<html>
<head>
    <style>
        .main-container {
            display: flex;
            justify-content: center;
        }

        .split-box {
            width: 280px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            margin: 10px;
        }

        .split-title {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .split-date-week-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
        }

    </style>
</head>
<body>
    <main class="main-container">
        <button class="split-box">
            <div class="split-title">Split #1</div>
            <div>Push • Pull • Legs • Push • Pull</div>
            <div class="split-date-week-container">
                <div>
                    <div>11.09.22</div>
                    <div> - </div>
                    <div>29.07.24</div>
                </div>          
                <div>
                    <div>Week 1</div>
                    <div> - </div>
                    <div>Week 52</div>
                </div>
            </div>
        </button>
    </main>
</body>
</html>