<!DOCTYPE html>
<html>
<head>
    <style>
        .main-container {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .white-box {
            width: 300px;
            height: 100px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            flex-direction: column;
            margin: 10px;
        }

        .workout-title {

        }

        .workout-split {

        }

        .workout-date-week-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .workout-date {

        }

        .workout-week {

        }
    </style>
</head>
<body>
    <main class="main-container">
        <button class="white-box">
            <div>Workout #1</div>
            <div>Push • Pull • Legs • Push • Pull</div>
            <div class="workout-date-week-container">
                <div>11.09.22 - 29.07.24</div>
                <div>Week 1 - Week 52</div>
            </div>
        </button>
    </main>
</body>
</html>